@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>About us</h1>
    <p class="lead">This website is the place where everyone can share your experience during trips 
    and see what others people write about different places in the world.
    </p>
    <p>@Html.ActionLink("See posts", "Index", "Posts")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Countries</h2>
        <p>To see the list of all countries you need to follow this link.
            @Html.ActionLink("See countries", "All", "Countries")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Posts</h2>
        <p>
            To see the list of users' posts you need to follow this link.
            @Html.ActionLink("See posts", "Index", "Posts")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Your posts</h2>
        <p>
            Create your own posts and see your recent posts you can here
            @Html.ActionLink("See your posts", "MyPosts", "Posts")
        </p>
    </div>
</div>
<div id="countriesList">

</div>
<script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var answer = xmlhttp.responseText;
            var json = JSON.parse(answer);
            document.getElementById("countriesList").innerText = json;
            //document.getElementById("email").setAttribute('value', json.email);
        }
    }
    xmlhttp.open("GET", "getEmail", true);
    xmlhttp.send();
    
</script>