@model IEnumerable<TripsBlogProject.Models.Country>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>The list of all countries</h3>
@if(this.User.IsInRole("Admin")) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}



<table id="countriesList" class="table"></table>
<script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var answer = xmlhttp.responseText;
            var json = JSON.parse(answer);
            var table = document.getElementById("countriesList");
            for (var i = 0; i < json.length; i++) {
                var country = json[i];
                var row = table.insertRow(i);
                var column;
                column = row.insertCell(0);
                column.innerHTML = country["Name"];
                column = row.insertCell(1);
                var button = document.createElement("input");
                var link = document.createElement('a');
                link.setAttribute('href', "Countries/Details/" + country["CountryId"]);
                link.innerHTML = " Details ";
                column.appendChild(link);
                var link2 = document.createElement('a');
                link2.setAttribute('href', "Countries/Edit/" + country["CountryId"]);
                link2.innerHTML = " Edit ";
                column.appendChild(link2);
                var link3 = document.createElement('a');
                link3.setAttribute('href', "Countries/Delete/" + country["CountryId"]);
                link3.innerHTML = " Delete ";
                column.appendChild(link3);
                
            }
        }
    }
    xmlhttp.open("GET", "http://localhost:49485/Service1.svc/countries", true);
    xmlhttp.send();

</script>



