@model TripsBlogProject.Models.Country

@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UploadImage</h2>



    <div class="form-horizontal">
        <h4>Country</h4>
        <hr />
        

         @using (Html.BeginForm("UploadImage", "Countries", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
            @Html.HiddenFor(model => model.CountryId)
            <input type="file" name="file" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
}
        
        @*<form enctype="multipart/form-data" method="post">
            <input type="file" name="file" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        </form>*@
    
        @*@using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.CountryId)
            <input type="submit" value="Save" class="btn btn-default" />
        }*@
    </div>

 <div>
         @Html.ActionLink("Back to List", "Index")
</div>
